
.mainContainerFooter{
	display: block;
	position: relative;
	height: 40px;
    width: 100%;
    background-color: #009639;
    color: white;
    margin-top: 5%;
    margin-bottom: 0px;
    bottom: 0;
}


.footerItem1{
  display: inline-block;
  vertical-align: middle;
  padding-top:0.6%;
  margin-left:4%;
  font-size: 12px;
}

.footerItem2{
  display: inline-block;
  vertical-align: middle;
  padding-top:0.6%;
  margin-left:6%;
  font-size: 12px;
}


.footerItem3{
  display: inline-block;
  vertical-align: middle;
  padding-left: 20%;
  padding-top:0.6%;
  margin-left:20%;
  font-weight:normal;
  font-size: 12px;
}